body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
}
.container{
    width: 500px;
    margin: 40px auto 0px auto;
}
.container-head{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 130px 1fr;
    align-items: center;
}

.info{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    row-gap: 10px;
}
.foods {
    display: flex;
    justify-content: space-between;
}
.food{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.food i{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: lightcoral;
    border-radius: 50%;
}
#myCanvas{
    background-color: lightcyan;
    width: 500px;
    height: 500px;
}
