body{
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-size: 20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    position: relative;
    width: 500px;
    margin: 40px auto 0px auto;
}
.container-head{
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 130px 1fr;
    align-items: center;
}

.info{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    row-gap: 10px;
}
.foods {
    display: flex;
    justify-content: space-between;
}
.food{
    display: flex;
    column-gap: 3px;
    align-items: center;
    font-size: medium;
}
.food i{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: lightcoral;
    border-radius: 50%;
}
#myCanvas{
    background-color: lightcyan;
    width: 500px;
    height: 500px;
}
.blurElement{
    opacity: 0.5;
}
#message{
    position: absolute;
    white-space: nowrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
    opacity: 0;
    transition-property: opacity;
}
#mycanvas, #message{
    transition-duration: .5s;
}
